body {
  background: darkslategray;
}
.main-nav {
  background-color: black;
  color: white;
  font-size: small;
}

.main:hover {
  color: grey;
}

.sticky-nav {
  position: sticky;
  top: 0;
}

.custom-footer {
  font-size: 60%;
  margin-top: 0%;
  padding-top: 0%;
}

img {
  max-width: 50%;
  height: auto;
}
